.cartIcon {
             position: relative;
             
             span {
                font-size: 12px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #2879fe;
                color: white;
                position: absolute;
                right: -5px;
                top: -13px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
}